* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
}

form {
    width: 100%;
    max-width: 1550px;
    /* max-width: 1080px; */
    margin: 10px auto;
    text-align: left;
    flex-direction: column;
    align-items: left;
    /* position: relative; */
}

#campos {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1020px;
}

input,
textarea {
    display: block;
    margin: 8px;
    border: none;
    width: 15rem;
    height: 2rem;
}

#codigo {
    background-color: #B1B1B1;
    width: 180px;
}

#textarea-observacoes {
    width: 400px;
    height: 70px;
    resize: none;
}

#nome,
#pessoasAutorizadas {
    width: 400px;
}

.label-input {
    display: flex;
    margin: 10px;
}

.label-campos,
.input-campos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
}

ul {
    list-style-type: none;
    margin-right: 80px;
}

.label-campos ul {
    margin-right: 10px;
    width: 100px;
}

li {
    margin: 1px;
    display: inline-flex;
}

p {
    margin: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-right: 0px;
    width: 150px;
}

#dados-endereco p {
    width: 45px;
}

#uf {
    width: 60px;
}

#campos form {
    display: flex;
}

#salvar {
    width: 90px;
    height: 36px;
    margin: 15px;
    margin-right: 8px;
    font-family: 'Rubik', sans-serif;
    background-color: #336DC3;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}

#cancelar {
    width: 117px;
    height: 36px;
    margin: 15px;
    margin-left: 8px;
    font-family: 'Rubik', sans-serif;
    background-color: #B21447;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}

#salvar:hover {
    background-color: #295ead;
    color: #fff;
}

#cancelar:hover {
    background-color: #990e3a;
    color: #fff;
}

.botoes-cadastro-cliente {
    /* width: 1080px; */
    width: 100%;
    display: flex;
    justify-content: flex-end;
    /* position: absolute; */
}
