
.image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .featured-image {
    width: 80%;
    padding-top: 100px;
  }

.product-list-container {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.show-more-container {
    text-align: center;
    margin-top: 20px;
}

.show-more-button {
    background-color: #C61C4A;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.show-more-button:hover {
    background-color: #A51B3D;
}